.font-CoreRhino65bold {
    font-family: 'Core Rhino'; 
    font-weight: bold; 
  }

  .font-CoreRhinoMedium {
    font-family: 'Core Rhino Medium', sans-serif;
}

.font-CoreRhinoLight {
    font-family: 'Core Rhino Light', sans-serif;
}
