@font-face {
    font-family: 'Core Rhino 45 Regular';
    src: url('../../assets/fonts/CoreRhino45Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Core Rhino 65 Bold';
    src: url('../../assets/fonts/CoreRhino65Bold.ttf') format('truetype');
}



.form-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;


}

.form-container {
    width: 40%;
    height: 95%;
    background-color: #384450;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 30px;
    border-radius: 10px;
    position: relative;
    color: black;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.306);
    cursor: pointer;
}

.close-icon:hover {
    color: red;
}

.form-title {
    font-family: 'Core Rhino 65 Bold';
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

.form-title2 {
    font-family: 'Core Rhino 45 Regular';
    font-size: 16px;
    color: rgba(243, 220, 220, 0.333);
    margin-bottom: 20px;
    width: 70%;
    text-align: center;
}

.form {
    width: 60%;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.form-label {
    margin: 5px;
    font-family: 'Core Rhino 45 Regular';
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.form-input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #5DD3B3;
    font-size: 16px;
    padding: 10px;
    font-family: 'Core Rhino 45 Regular';
}

.form-input:hover {
    border: 1px solid rgb(240, 191, 76);
}

.form-btn {
    width: 100%;
    text-align: center;
    cursor: pointer;

    border: 1px solid rgb(148 163 184);
    background-color: rgb(148 163 184) !important;
    font-size: 21px;
    font-weight: 500;
    font-family: 'Core Rhino 45 Regular';
    color: rgb(83, 115, 160);
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}

.form-btn:hover {
    background-color: rgb(110, 137, 173) !important;
    box-shadow: 0px 6px 12px rgba(110, 137, 173, 0.8);
}

.form-footer {
    font-family: 'Core Rhino 45 Regular';
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 0;
    font-size: 16px;
    color: black;
}


@media (max-width:520px) {
    .form-container {
        width: 90%;
    }

    .form-title {
        font-size: 28px;
    }
}