.form-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-container {
    width: 80%;
    height: 90%;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.306);
    cursor: pointer;
}

.forms-forms:hover {
    color: green;
}